.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
th{
  background-color: #3b3387
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.default-profile {
  width: 150px; /* Match the normal profile image size */
  height: 150px;
  border-radius: 50%;
  object-fit: cover; /* Ensures the image fully covers the circle */
  border: 2px solid #ccc; /* Normal solid border */
  background-color: #f0f0f0; /* Light background in case image fails to load */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


